.Header {
    width: 100%;
    height: 6rem;
    background-color: var(--header-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.WelcomeText {
    font-size: 2rem;
}

.AdditionalText {
    margin-bottom: 0.6rem;
}