.Header {
    width: 100%;
    height: 6rem;
    background-color: var(--header-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    padding: 1rem;
}

.WelcomeText {
    font-size: 2rem;
}

.WelcomeTextSmall {
    font-size: 1.6rem;
}

.AdditionalText {
    margin-bottom: 0.6rem;
}