.MessageList {
    width: 100%;
    height: 100%;
    padding: 1rem 2.25rem 2rem 2.25rem;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1.4rem;
    margin-right: 0.3rem;
}

::-webkit-scrollbar-track {
    background: var(--main-bg-color);
    margin-top: 1rem;
}

::-webkit-scrollbar-thumb {
    background: var(--dark-color);
    width: 0.4rem;
    border-radius: 999rem;
    border: 0.45rem solid transparent;
    background-clip: content-box;
}

.MessageList::-webkit-scrollbar-track:vertical {
    border-right: 0.4rem solid var(--main-chat-color);
    border-left: 0.4rem solid var(--main-chat-color);
    border-radius: 0.6rem;
}

.CoverSpin {
    width:100%;
    z-index:9999;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

.CoverSpin::after {
    content:'';
    margin: 0 auto;
    display:block;
    width:70px;height:70px;
    border-style:solid;
    border-color:var(--main-bg-color);
    border-top-color:transparent;
    border-width: 6px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
