.Message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 5rem;
    width: 100%;
    padding: 1rem 1rem;
    border-bottom: 1px solid;
    border-color: var(--highlight-color);
    box-sizing: border-box;
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.9);
    overflow-wrap: break-word;
}

.PostInfo {
    display: grid;
    grid-template-columns: 30% 25% 25% 20%;
    width: 23rem;
    margin-bottom: 0.9rem;
}

.PostInfoSmall {
    grid-template-columns: 30% 30% !important;
    grid-template-rows: 1rem 1rem !important;
}

.Username {
    grid-column: 1;
    grid-row: 1;
    font-weight: bold;
}

.PostID {
    grid-column: 2;
    grid-row: 1;
}

.PostDate {
    grid-column: 3;
    grid-row: 1;
}

.PostDateSmall {
    grid-column: 1 !important;
    grid-row: 2 !important;
    margin-top: 0.4rem;
}

.PostTime {
    grid-column: 4;
    grid-row: 1;
}

.PostTimeSmall {
    grid-column: 2 !important;
    grid-row: 2 !important;
    margin-top: 0.4rem;
    height: 1.8rem;
}

.Text {
    margin-left: 0rem;
}