.LeftToolbar {
    margin-right: 0.6rem;
    margin-left: 0.6rem;
    border-top: 0.64rem solid var(--main-bg-color);
    border-bottom: 0.64rem solid var(--main-bg-color);
    height: 3rem;
    width: 100% - 0.6rem;
    background-color: var(--header-color);
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    z-index: 500;
}

